<div class="header">


<ul class="nav nav-pills pull-right">
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">About
    	<span class="caret"></span></a>
    	<ul class="dropdown-menu">
    		<li class="{{ page.overview }}"><a href="/overview" title="Overview">Overview</a></li>
      		<li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li>
      		<li class="{{ page.schedule }}"><a href="/schedule" title="Schedule">Schedule</a></li>

      		<li class="{{ page.participants }}"><a href="/participants" title="Presentations">Participants</a></li>

    	</ul>
  		</li>
		<li class="{{ page.registration }}"><a href="/registration" title="Registration">Registration</a></li>
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Local
    	<span class="caret"></span></a>
    	<ul class="dropdown-menu">
    		<li class="{{ page.inclusivity }}"><a href="/inclusivity" title="Inclusivity">Inclusivity</a></li>
    		<li class="{{ page.travel }}"><a href="/travel" title="Travel">Travel</a></li>
      		<li class="{{ page.lodging }}"><a href="/lodging" title="Lodging">Lodging</a></li>
      		<li class="{{ page.misc }}"><a href="/misc" title="Misc.">Misc.</a></li>
    	</ul>
  		</li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Junior Kinetic Workshop</a></h3>
</div> <!-- /header -->